/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


/* ---------------------------------------------------------- */
/* GLOBAL---------------------------------------------------- */
/* ---------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* COLORS */
:root {
  --green: #54E6AF;
  --grey: #C2CBE5;
  --dark-grey: #5A668A;
  --very-dark-grey: #2C344B;
  --dark-color: #121725;
  --light-color: #FFF;
}


/* TYPOGRAPHY + BG */
html {
  font-size: 16px;
  font-family: 'Chivo', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--dark-color);
  text-align: center;
}

body::before {
  content: "";
  background-image: url("./assets/mobile/image-host.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .09;
  z-index: -1;
}

h1, p, span {font-weight: 300;}



/* ---------------------------------------------------------- */
/* MAIN CONTENT---------------------------------------------- */
/* ---------------------------------------------------------- */

h1, p, .podcast, .form-btn {
  opacity: .8;
}

.content-container {
  width: 87%;
  max-width: 28.125rem;
  margin: 0 auto;
  z-index: 1000;
  margin-bottom: 1rem;
}


/* LOGO & TEXT */
.logo-container {
  margin-top: 3.875rem;
  margin-bottom: 3.5625rem;
}

.main-text {
  color: var(--light-color);
  text-transform: uppercase;
  font-size: 1.625rem;
  line-height: 2.375rem;
}

.green-text {
  color: var(--green);
}

.sub-text {
  font-size: .9375rem;
  line-height: 1.5625rem;
  color: var(--grey);

  margin-top: .9375rem;
  margin-bottom: 2.0625rem;
}


/* PODCASTS */
.podcasts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.podcast.spotify {width: 3.5rem;}
.podcast.apple {width: 2.8125rem;}
.podcast.google {width: 4.5625rem;}
.podcast.pocket {width: 4.8125rem;}



/* FORM  */
.email-form {}

.form-input {
  width: 100%;
  height: 3.5rem;
  border-radius: 1.75rem;
  border: none;
  background-color: var(--very-dark-grey);
  padding-left: 2rem;
  color: var(--light-color);
  font-weight: 400;
  font-size: .875rem;
  font-family: 'Chivo';

  margin-bottom: 1rem;
}

.form-btn {
  width: 100%;
  height: 2.875rem;
  border-radius: 1.75rem;
  border: none;
  background-color: var(--green);
  cursor: pointer;
  font-size: .875rem;
  font-family: 'Chivo';
  transition: .3s;
}

/* no hover on mobile/tablet */
@media (hover: hover) {
.form-btn:hover { background-color: #B3FFE2; }
}



/* ---------------------------------------------------------- */
/* BREAKPOINTS ---------------------------------------------- */
/* ---------------------------------------------------------- */

/* xtra small screens */
@media only screen and (max-width: 350px) {
  .logo-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}


/* tablet */
@media only screen and (min-width: 768px) {
}


/* desktop */
@media only screen and (min-width: 1440px) {
}
